* {
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    background-color: rgb(44, 44, 44);
    margin: auto 15%;
}

header {
    color: rgb(249, 250, 248);
    font-size: 2vw;
    background-color: rgb(31, 41, 55);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
}

.s1 {
    background-color: rgb(31, 41, 55);
    display: flex;
    flex-flow: row wrap;
    height: 400px;
}
nav {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 2rem;
    display: flex;
    flex-flow: row;
}

button {
    background-color: rgb(56, 130, 246);

}

li {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1vw;
    color: rgb(229, 231, 235);
}

p {
    font-size: 1vw;
}



.s2 {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 400px;
}

.i1 {
    height: 50%;
    width: 30%;
}

.i2 {
    width: 150px;
    height: 150px;
}

#l1 {
    font-size: 2.5vw;
    font-weight: 900;
    color: rgb(249, 250, 248);
}

#l3 {
    font-weight: 300;
    font-size: 2.5vw;
    font-style: italic;
    color: #1F2937;
}

.quote {
    background-color: rgb(229, 231, 235);
    height: 400px;
}

.signup {
    background-color: rgb(255, 255, 255);
    height: 400px;
}

footer {
    background-color: rgb(31, 41, 55);
    padding: 1rem;
    margin: 0;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

a, a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: rgb(229, 231, 235);
}